﻿
BODY { 
	FONT-SIZE: 12px; 
	COLOR: #333333; 
	LINE-HEIGHT: 1.166; 
	FONT-FAMILY: Trebuchet MS;
	font-size:inherit;
}

TD {
	FONT-SIZE: 12px; FONT-FAMILY: Trebuchet MS;
	margin-left: 40px;
}
TH {
	FONT-SIZE: 12px; FONT-FAMILY: Trebuchet MS
}
INPUT {
	FONT-SIZE: 10px; FONT-FAMILY: Trebuchet MS;color:#006699;text-transform: uppercase
}
TEXTAREA {
	FONT-SIZE: 10px; FONT-FAMILY: Trebuchet MS;color:#006699;text-transform: uppercase
}
SELECT {
	FONT-SIZE: 10px; FONT-FAMILY: Trebuchet MS;color:#006699
}
A {
	COLOR: #006699; TEXT-DECORATION: none
}
A:link {
	COLOR: #006699; TEXT-DECORATION: none;
	text-align: right;
}
A:visited {
	COLOR: #006699; TEXT-DECORATION: none
}
A:hover {
	COLOR: #006699; TEXT-DECORATION: underline
}
.punteadin {
	BORDER-RIGHT: #cccccc 1px dashed; 
	BORDER-TOP: #cccccc 1px dashed; 
	BORDER-LEFT: #cccccc 1px dashed; 
	BORDER-BOTTOM: #cccccc 1px dashed;
}

.lisin {
	BORDER-RIGHT: #cccccc 1px solid; 
	BORDER-TOP: #cccccc 1px solid; 
	BORDER-LEFT: #cccccc 1px solid; 
	BORDER-BOTTOM: #cccccc 1px solid;
}

fieldset {
	border: 2px #cccccc;
}

.cabeza
{
	background-image: url(../img/plantilla_05.jpg); 
}

.cabezaT
{
	background-position-y: center;
	background-image: url(../img/plantilla_02.jpg); 
	background-repeat: repeat-x;
	color:White;
}

.btnhov
{
	border-top-color:#0099cc;
   border-left-color:#0099cc;
   border-right-color:#0099cc;
   border-bottom-color:#0099cc;}
   
.btn
{
	color:#000000;/*color del texto*/
	/*font-weight:bold;*/
	background-color:#ccc;/*Color del fondo del boton*/
	border:1px solid;
	border-top-color:Gray;
	border-left-color:Gray;
	border-right-color:Gray;
	border-bottom-color:Gray;}

.normalrow
{
	background-color:#dcdcdc;
	text-decoration:none;
}

.alterrow
{
	background-color:White;
	text-decoration:none;
}

.overrow
{
	text-decoration: underline;
	cursor: pointer;
	background-color: #FFF0B3;
}

.overrownopoint
{
	text-decoration: underline;
	/*cursor: pointer;*/
	background-color: #FFF0B3;
}

.form_input 
{
	background: #FFF url('../img/bg_searchbar.png') repeat-x 50% top; 
	border: 1px solid #888; 
	padding: 3px;
	margin-left: 0px;
}

.invalidtxt 
{
	background: #FFFF7D;
	border: 1px solid #E62E00; 
	padding: 3px;
	margin-left: 0px;
}