﻿
BODY
{
	font-size: 12px;
	color: #000000;
	line-height: 1.166;
	font-family: Trebuchet MS;
	font-size: inherit;
	background-color: #E4E4E4;	
}



TD {
	FONT-SIZE: 12px; FONT-FAMILY: Trebuchet MS
}
TH {
	FONT-SIZE: 12px; FONT-FAMILY: Trebuchet MS
}
INPUT {
	FONT-SIZE: 10px; FONT-FAMILY: Trebuchet MS;color:#000000;text-transform: uppercase
}
TEXTAREA {
	FONT-SIZE: 11px; FONT-FAMILY: Trebuchet MS;text-transform: uppercase
}
SELECT {
	FONT-SIZE: 11px; FONT-FAMILY: Trebuchet MS;color:#000000
}
A {
	COLOR: #000000; TEXT-DECORATION: none
}
A:link {
	COLOR: #000000; TEXT-DECORATION: none
}
A:visited {
	COLOR: #000000; TEXT-DECORATION: none
}
A:hover {
	COLOR: #000000; TEXT-DECORATION: underline
}
.punteadin {
	BORDER-RIGHT: #cccccc 1px dashed; 
	BORDER-TOP: #cccccc 1px dashed; 
	BORDER-LEFT: #cccccc 1px dashed; 
	BORDER-BOTTOM: #cccccc 1px dashed;
}

.lisin {
	BORDER-RIGHT: #cccccc 1px solid; 
	BORDER-TOP: #cccccc 1px solid; 
	BORDER-LEFT: #cccccc 1px solid; 
	BORDER-BOTTOM: #cccccc 1px solid;
}

fieldset {
	border: 2px #cccccc;
}

.cabeza
{
	background-image: url(../img/plantilla_05n.jpg); 
	background-position-y: center;
	background-repeat: repeat-x;
}

.cabezaT
{
	background-position-y: center;
	background-image: url(../img/plantilla_02n.jpg); 
	background-repeat: repeat-x;
	color:White;
}

.btnhov
{
	border-top-color:Gray;
   border-left-color:Gray;
   border-right-color:Gray;
   border-bottom-color:Gray;}
   
.btn
{
	color:#000000;/*color del texto*/
	/*font-weight:bold;*/
	background-color:#ccc;/*Color del fondo del boton*/
	border:1px solid;
	border-top-color:Black;
	border-left-color:Black;
	border-right-color:Black;
	border-bottom-color:Black;}

.normalrow
{
	background-color:#dcdcdc;
	text-decoration:none;
}

.alterrow
{
	background-color:White;
	text-decoration:none;
}


.overrow
{
	text-decoration:underline;
	cursor:pointer;
}

.overrownopoint
{
	text-decoration:underline;
}

.form_input 
{
	background: #FFF url('../img/bg_searchbar.png') repeat-x 50% top; 
	border: 1px solid #888; 
	padding: 3px;
	margin-left: 0px;
	FONT-SIZE: 11px;
}

.label
{
	COLOR: #000000;background-color: #E4E4E4;
}

.fondo
{
	background-color: #E4E4E4;
}

.modalPop
{
	BORDER-RIGHT: #cccccc 1px solid; 
	BORDER-TOP: #cccccc 1px solid; 
	BORDER-LEFT: #cccccc 1px solid; 
	BORDER-BOTTOM: #cccccc 1px solid;
	background-color: #E4E4E4;
}

.modalBackground {
	background-color:Gray;
	filter:alpha(opacity=70);
	opacity:0.7;
}

.invalidtxt
{
	background: #3B3B3B;
	border: 1px solid #CC3300;
	padding: 3px;
	margin-left: 0px;
	FONT-SIZE: 11px;
	color: #FFFFFF;
}

.cerrar
{
	background-color: #E4E4E4;
	COLOR: #000000; 
	TEXT-DECORATION: none
}