﻿
BODY
{
	font-size: 12px;
	color: #CC0000;
	line-height: 1.166;
	font-family: Trebuchet MS;
	font-size: inherit;
	background-color: #ffffff;
	background-repeat: repeat;
}



TD {
	FONT-SIZE: 12px; FONT-FAMILY: Trebuchet MS
}
TH {
	FONT-SIZE: 12px; FONT-FAMILY: Trebuchet MS
}
INPUT {
	FONT-SIZE: 10px; FONT-FAMILY: Trebuchet MS;color:#CC0000;text-transform: uppercase
}
TEXTAREA {
	FONT-SIZE: 11px; FONT-FAMILY: Trebuchet MS;color:#CC0000;text-transform: uppercase
}
SELECT {
	FONT-SIZE: 11px; FONT-FAMILY: Trebuchet MS;color:#CC0000
}
A {
	COLOR: #CC0000; TEXT-DECORATION: none
}
A:link {
	COLOR: #CC0000; TEXT-DECORATION: none
}
A:visited {
	COLOR: #CC0000; TEXT-DECORATION: none
}
A:hover {
	COLOR: #CC0000; TEXT-DECORATION: underline
}
.punteadin {
	BORDER-RIGHT: #cccccc 1px dashed; 
	BORDER-TOP: #cccccc 1px dashed; 
	BORDER-LEFT: #cccccc 1px dashed; 
	BORDER-BOTTOM: #cccccc 1px dashed;
}

.lisin {
	BORDER-RIGHT: #cccccc 1px solid; 
	BORDER-TOP: #cccccc 1px solid; 
	BORDER-LEFT: #cccccc 1px solid; 
	BORDER-BOTTOM: #cccccc 1px solid;
}

fieldset {
	border: 2px #cccccc;
}

.cabeza
{
	background-image: url(../img/plantilla_05r.jpg); 
	background-position-y: center;
	background-repeat: repeat-x;
}

.cabezaT
{
	background-position-y: center;
	background-image: url(../img/plantilla_02r.jpg); 
	background-repeat: repeat-x;
	color:White;
}

.btnhov
{
	border-top-color:Gray;
   border-left-color:Gray;
   border-right-color:Gray;
   border-bottom-color:Gray;}
   
.btn
{
	color: #FFFFFF; /*color del texto*/ /*font-weight:bold;*/
	background-color: #CC0000; /*Color del fondo del boton*/
	border: 1px solid #000000;
	font-weight: normal;
}

.normalrow
{
	background-color:#dcdcdc;
	text-decoration:none;
	color:#CC0000;
}

.alterrow
{
	background-color:White;
	text-decoration:none;
	color:#CC0000;
}

.overrow
{
	text-decoration:underline;
	cursor:pointer;
}

.overrownopoint
{
	text-decoration:underline;
}

.form_input 
{
	background: #FFF url('../img/bg_searchbar.png') repeat-x 50% top; 
	border: 1px solid #888; 
	padding: 3px;
	margin-left: 0px;
	FONT-SIZE: 11px;
}

.label
{
	COLOR: #CC0000;background-color: #ffffff;
}

.fondo
{
	background-color: #ffffff;
}

.modalPop
{
	BORDER-RIGHT: #cccccc 1px solid; 
	BORDER-TOP: #cccccc 1px solid; 
	BORDER-LEFT: #cccccc 1px solid; 
	BORDER-BOTTOM: #cccccc 1px solid;
	background-color: #E4E4E4;
}

.modalBackground {
	background-color:Gray;
	filter:alpha(opacity=70);
	opacity:0.7;
}

.invalidtxt
{
	background: #CC0000;
	border: 1px solid #CC3300;
	padding: 3px;
	margin-left: 0px;
	FONT-SIZE: 11px;
	color: #FFFFFF;
}

.cerrar
{
	background-color: #ffffff;
	COLOR: #CC0000; 
	TEXT-DECORATION: none
}