﻿<%@ Page Language="C#" MasterPageFile="~/Masters/Master.master" AutoEventWireup="true" CodeFile="Index.aspx.cs" Inherits="Index" Title="Untitled Page" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <table>
        <tr>
            <td>Bienvenido!</td>
        </tr>
        <tr>
            <td rowspan="5" class="punteadin">
                <asp:Image ID="imgUsuario" runat="server"  /></td>
            <td class="punteadin">Usuario:</td>
            <td class="punteadin"><asp:Label ID="lblNick" runat="server"></asp:Label></td>
        </tr>            
            <td class="punteadin">Nombre:</td>
            <td class="punteadin"><asp:Label ID="lblNombre" runat="server"></asp:Label></td>
        </tr>
        <tr>            
            <td class="punteadin">Nivel:</td>
            <td class="punteadin"><asp:Label ID="lblNivel" runat="server" ></asp:Label></td>
        </tr>
        <tr>            
            <td class="punteadin">Em@il:</td>
            <td class="punteadin"><asp:Label ID="lblEmail" runat="server"></asp:Label></td>
        </tr>
        <tr>            
            <td class="punteadin">
   <asp:Literal ID="litScript" runat="server"></asp:Literal>
    
            </td>
            <td class="punteadin">&nbsp;</td>
        </tr>
    </table>
</asp:Content>

